<h1>Available Sellers</h1>

<%= render "users/role_status", user: current_user %>

<% if @sellers.empty? %>
  <p>No sellers available at the moment.</p>
<% else %>
  <ul>
    <% @sellers.each do |seller| %>
      <li>
        <%= link_to seller.name, seller_path(seller) %> - <%= seller.cpu %> CPUs
      </li>
    <% end %>
  </ul>
<% end %>
